# Database
# DATABASE_URL=postgresql://user:password@localhost:5432/nama_database?schema=public

# JWT Secret
# JWT_SECRET=rahasia_negara_123

# Cloudinary Config
# CLOUDINARY_CLOUD_NAME=your_cloud_name
# CLOUDINARY_API_KEY=your_api_key
# CLOUDINARY_API_SECRET=your_api_secret